@font-face {
    font-family: "Input Mono";
    src: url(assets/fonts/InputMono-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Pragmata Pro";
    src: url(assets/fonts/PragmataPro.ttf) format("truetype");
}
body{
	font-family: "Pragmata Pro";
}

.nav li a{
    color: rgb(0,0,252);
}

.nav li a:hover{
    font-weight: bold;
}

.post-header{
    margin-bottom: 0px;
}
a:visited{
    color: rgb(173, 216, 230) !important;
}

.nav li{
	list-style-type: lower-greek;
}

h1,h2,h3,h4,h5,h6, .nav{
	font-family: "Input Mono";
}


#header {
    background-color:black;
    color: white;
    text-align:center;
    padding: 5px;
}

.nav {
    line-height:30px;
    background-color: rgb(229, 229, 229);
    width:20%;
    min-width: 180px;
    float:left;
    text-align: left;
    padding:5px;
    margin-bottom: 22px;
    margin-top: 22px;
}

.content-section {
    width:70%;
    float:left;
    padding:10px;
    margin-bottom: 5%;
}

#programming-header{
	color: rgb(0, 255, 0);
}

.nav-underline{
    margin-bottom: 19.5px;
    margin-top: 2px;
}

.contact-nav{
        padding-left: 10px;
}

.contact-nav li{
    list-style: none;
    word-wrap: break-word;
    word-break: break-all;
}


.list-head{
    font-weight: bold;
}

.list-content{
    margin-left: 10px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    position: sticky;
}